    @import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
    
    :root{
        --main-font: "Cantarell";              /*Все шрифты*/
        --secondly-font: "Noto Sans Display";   
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1{
        color: white;
        font-size: 3rem;
    }

    body{
        width: 100vw;
        height: 100vh;
        background-image: url(../img/background.webp);
        background-size: cover;
        background-repeat: no-repeat;
        font-family: var(--main-font);
        overflow: hidden;
    }

    .main-menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;  
        transition: all 1s ease-out;
        animation: appearing 1.5s 1 forwards;

            & button{
                width: 200px;
                height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all .4s ease-out;
                font-family: var(--secondly-font);
                font-weight: bold;
                background: linear-gradient(120deg, rgb(8, 167, 48), rgb(202, 199, 47));
                animation: moving 5s linear infinite;
                color: white;

                    &:hover{
                        width: 250px;
                    }
            }
    }

    .main-game{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 1s ease;
        opacity: 0;
    }

    .player{
        width: 800px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;

            & div{
                width: 150px;
                height: 150px;
                border-radius: 15px;
                cursor: pointer;
                background-color: wheat;
                box-shadow: 0px 0px 10px 5px black;
                text-align: center;
                align-content: center;
                transition: all .4s ease;
                position: relative;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                
                    &:after{
                        position: absolute;
                        content: '';
                        width: 5px;
                        height: 150%;
                        background: white;
                        left: 0;
                        top: 0;
                        filter: blur(4px);
                        animation: flash 3s infinite linear;
                    }

                    &:hover{
                        transform: translateY(-20px);
                    }

                    & img{
                        width: 90px;
                        height: 90px;
                    }

                    & .front-side{
                        opacity: 1;
                        position: absolute;
                    }

                    & .back-side{
                        opacity: 0;
                        position: absolute;
                    }
            }
    }

    #enemy{
        & div{
            &:hover{
                transform: translateY(0) !important;
            }
        }
    }

    .selected{
        & .front-side{
            opacity: 0 !important;
            position: absolute !important;
        }

        & .back-side{
            opacity: 1 !important;
            position: absolute !important;
        }
    }   

    .counters{
        position: absolute;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;

            & #enemy_count{
                width: 80px;
                height: 50px;
                background-color: red;
                border: 3px solid rgb(121, 6, 6);
                border-radius: 15px;
                text-align: center;
                align-content: center;
                font-family: var(--main-font);
                color: white;
                font-size: 1.5rem;
            }

            & #player_count{
                width: 80px;
                height: 50px;
                background-color: green;
                border: 3px solid rgb(10, 88, 10);
                border-radius: 15px;
                text-align: center;
                align-content: center;
                font-family: var(--main-font);
                color: white;
                font-size: 1.2rem;
            }   
    }

    #pulse{
        position: fixed;
        font-family: "Special Gothic Expanded One";
        font-size: 4rem;
        opacity: 0;
    }

    .game-end{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 60px;
        display: none;
        background: none;
        animation: appearing 2s 1 forwards;

            & h2{
                font-family: var(--main-font);
                font-size: 3rem;
                color: white;
            }

            & button{
                width: 200px;
                height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: all .4s ease-out;
                font-family: var(--secondly-font);
                font-weight: bold;
                background: linear-gradient(120deg, rgb(167, 8, 8), rgb(114, 36, 160));
                animation: moving 5s linear infinite;
                color: white;

                    &:hover{
                        width: 250px;
                    }
            }
    }



    @keyframes moving{   /*Анимация для кнопки*/
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-5px);
        }
        100%{
            transform: translateY(0);
        }
    }
    
    @keyframes flash{   /*Блик от блоков*/
        0%{
            opacity: 0;
            transform: translateX(0) rotate(45deg);
        }
        10%{
            opacity: 1;
        }
        90%{
            opacity: 1;
        }
        100%{
            transform: translateX(150px) rotate(45deg);
            opacity: 0;
        }
    }

    @keyframes pulse{   /*Надпись при выборе предмета*/
        from{
            opacity: 1;
        }to{
            opacity: 0;
        }
    }
    
    @keyframes appearing{  /*Появление блоков*/
        from{
            opacity: 0;
        }to{
            opacity: 1;
        }
    }



    @media (max-width: 430px){
        h1{
            font-size: 1.8rem;
        }

        #start_btn{
            width: 130px;
        }
        
        .player{
            gap: 30px;

                & div{
                    width: 90px;
                    height: 90px;

                        & img{
                            width: 50px;
                            height: 50px;
                        }
                }

                
        }

        .counters{
            justify-content: space-between;
            flex-direction: column;
            position: absolute;
            height: 100%;
            z-index: -100;

                & span{
                    margin: 70px 0px;
                }
        }

        #pulse{
            font-size: 2.5rem;
        }

        .game-end{
                & h2{
                    font-size: 2rem;
                }

                & button{
                    width: 140px;
                    font-size: 12px;
                }
        }
    }